<!-- modifcommande.component.html -->
<div class="container">
    <h2>Modifier une commande</h2>

    <form (submit)="modifierCommande()">
        <div class="form-group">
            <label for="numero_Commande">Numéro de commande:</label>
            <!-- Utilisez la propriété du composant pour afficher la valeur actuelle -->
            <input type="text" class="form-control" id="numero_Commande" [(ngModel)]="numero_Commande" name="numero_Commande" required>
        </div>
        <div class="form-group">
            <label for="date_Commande">Date de commande:</label>
            <!-- Utilisez la propriété du composant pour afficher la valeur actuelle -->
            <input type="date" class="form-control" id="date_Commande" [(ngModel)]="date_Commande" name="date_Commande" required>
        </div>
        <div class="form-group">
            <label for="id_frs">ID du fournisseur:</label>
            <!-- Utilisez la propriété du composant pour afficher la valeur actuelle -->
            <input type="text" class="form-control" id="id_frs" [(ngModel)]="id_frs" name="id_frs" required>
        </div>
        <button type="submit" class="btn btn-primary">Modifier la commande</button>
    </form>
</div>
