<!-- ajoutfournisseur.component.html -->
<div>
    <h2>Ajouter un nouveau fournisseur</h2>
  
    <!-- Formulaire d'ajout de fournisseur -->
    <form (submit)="ajouterFournisseur()">
      <div>
        <label for="id_frs">Identifiant :</label>
        <input type="text" id="id_frs" name="id_frs" required [(ngModel)]="nouveauFournisseur.id_frs">
      </div>
  
      <div>
        <label for="raison_sociale">Raison sociale :</label>
        <input type="text" id="raison_sociale" name="raison_sociale" required [(ngModel)]="nouveauFournisseur.raison_sociale">
      </div>
  
      <div>
        <label for="adresse">Adresse :</label>
        <input type="text" id="adresse" name="adresse" required [(ngModel)]="nouveauFournisseur.adresse">
      </div>
  
      <div>
        <label for="telephone">Téléphone :</label>
        <input type="text" id="telephone" name="telephone" required [(ngModel)]="nouveauFournisseur.telephone">
      </div>
  
      <!-- Ajoutez d'autres champs du formulaire en fonction de vos besoins -->
  
      <div>
        <button type="submit">Ajouter le fournisseur</button>
      </div>
    </form>
</div>

